<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <title>Guest list</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">Guest list</h1>
        <div>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/guest/add}" class="btn btn-primary ms-2">Create new</a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Search</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form th:action="@{/guest/search}" method="get" class="d-flex" role="search">
                    <input name="keyword" th:value="${keyword}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div  class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">CIN</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Status</th>
                <th><!-- --></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="guest : ${guests}">
                <td th:text="${guest.cin}" />
                <td th:text="${guest.firstName}" />
                <td th:text="${guest.lastName}" />
                <td th:text="${guest.getStatus}" />
                <td>
                    <div class="float-end text-nowrap">
                        <a sec:authorize="hasRole('ADMIN')"
                           th:href="@{/guest/edit/{id}(id=${guest.cin})}"
                           th:text="Edit" class="btn btn-sm btn-primary"/>
                        <a th:href="@{/guest/{id}(id=${guest.cin})}"
                           th:text="Detail"
                           class="btn btn-sm btn-secondary"/>

                        <form   sec:authorize="hasRole('ADMIN')"
                                th:action="@{/guest/delete/{id}(id=${guest.cin})}"
                               method="post" class="js-submit-confirm d-inline">
                            <button type="submit" class="btn btn-sm btn-danger" />
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
